.flex-container {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.team-id {
	width: 100px;
	height: 100px;
}

.team-title {
	text-align: center;
	font-size: 38px;
	color: blue;
}

.red-color {
	color: red;
	font-size: 26px;
}

.back-button {
	color: black;
	background-color: yellow;
	font-weight: bold;
	border: 2px solid black;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	background-color:whitesmoke
}

.team-id {
	background-color: aquamarine;
}

.title-border {
	border: 3px solid black;
}

.list-data {
	border: 3px solid black;
}